*{
    margin:0;
    padding:0;
    font-family: sans-serif;
}


/*Estilizando a pagina modal.html*/


#bg:target{
    display: grid;
}
#bg:target ~ .box{
    top: 25%;
    transition: all .3s;
    transition-delay: .2s;
}

.box{
    background-color:#fff;
    width: 500px;
    position: absolute;
    margin-left: -250px;
    left: 50%;
    top: -600px;
    opacity: 8;   
    box-shadow: 2px 2px 2px 2px rgb(158, 142, 142);
    border-radius: 5px 5px 5px 5px;   
}
.box img{
    width: 100%;
    position: absolute;
    opacity: 90;
    
}
#close{
    background-color:#f0f1f1;
    color: #000;
    font-family: 'Arial';
    font-size: 20px;
    position: absolute;
    width: 24px;
    height: 24px;
    text-align: center;
    right: 0;
    cursor: pointer;
    border: none;
    color: #1fdada;
}
.box .modal-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#1fdada;
    height: 40px;
    padding-left:20px;
    font-size: 20px; 
}

.lineInput{

    background: red;
}
.box .lineInput input{
    border: 1px solid #ccc;
}
.box .lineInput label{
    margin-bottom: 5px;
}
.box input{
    padding: 7px;
    border:1px solid #f0f1f1;;
    border-radius: 3px;
    font-size: 14px;
    margin-bottom: 10px;
}
.box .dropdown{
    padding: 7px;
    border:1px solid #f0f1f1;
    border-radius: 3px;
    font-size: 14px;
    margin-bottom: 10px;
}

.box form .modal-footer{
    padding-left: 10px;
}

@media only screen and (max-width: 560px){
    .lineInput{
        grid-template-columns: repeat(1,1fr);
    }
    .box{
        background-color:#fff;
        position: absolute;
        margin-left: -250px;
        left: 90%;
        top: -600px;
        opacity: 8;   
        box-shadow: 2px 2px 2px 2px rgb(158, 142, 142);
        border-radius: 5px 5px 5px 5px;   
    }
}